* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background-image: url("assets/Achtergrond_contact.png");
    background-size: cover;
}

/*Navbar*/
#color{
    color: #82B29A;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: black;
    padding: 3px;
    font-size: 20px;
    font-weight: bold;
}
.nav-link:hover{
    color: #ABCCBC;
}
.btn-nav{
    border: none;
    background-color: transparent;
    width: 150px;
    height: 30px;
}
nav .d-flex {
    display: flex;
    justify-content: right;
}
.navbar-toggler {
    border: transparent;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.kleur_icon {
    color: #DF7A5E;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: right;
}
a:hover{
    text-decoration: none;
    color: #ABCCBC;
}
.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
}
.download_knop {
    color: #ffffff;
    background-color: #3C405B;
    border-radius: 60px;
    padding: 10px 15px;
}
.download_knop:hover {
    color: #DF7A5E;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.container-fluid {
    padding: 0 30px;
    margin: 0;
}
.navbar-collapse {
    padding: 0;
}
.navbar {
    width: 100%;
    background-color: rgba(232, 232, 232, 0.4);
    position: fixed;
    backdrop-filter: blur(8px);
    z-index: 900;
}
#nav {
    width: 40px;
}
/*Navbar*/

/*main*/
.heading1 {
    margin-top: 120px;
}
.heading2 {
    margin: 60px 0;
}

#contact {
    padding: 0;
    margin-bottom: 50px;
    color: #F2CC8E;
    font-size: 40px;
}

#belg {
    margin-bottom: 45px;
}

.adres {
    margin-bottom: 0;
}

#nummer {
    text-align: center;
}

.form {
    margin-bottom: 30px;
}

.radio {
    text-align: center;
    margin-bottom: 30px;
}

.radiobutton {
    margin-right: 15px;
}
.contactkleur {
    color: #81b29a;
}
#naam {
    width: 100%;
}

#mail {
    width: 100%;
}

#email {
    text-align: center;
}

#opmerking {
    width: 100%;
    height: 150px;
}

.button_1 {
    width: 100px;
    height: 40px;
    color: #F2CC8E;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.button_1:hover{
    background-color: #ffffff;
    color: #F2CC8E;
    border: 2px solid #F2CC8E;
}

.button_2 {
    width: 100px;
    height: 40px;
    color: #ffffff;
    background-color: #F2CC8E;
    border: 1px solid transparent;
    border-radius: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.button_2:hover{
    background-color: #ffffff;
    color: #F2CC8E;
    border: 2px solid #F2CC8E;
}

.verzend {
    text-align: right;
}

iframe {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    border: 3px solid #F2CC8E;
}

input{
    border-radius: 10px;
    border: 2px solid #707070;
    padding-left: 5px;
}

textarea{
    border-radius: 10px;
    border: 2px solid #707070;
    padding: 5px;
}
label{
    color: #F2CC8E;
}

/*main*/

/*mediaquerry*/

@media screen and (min-width: 768px){
    .button {
        margin-bottom: 100px;
    }
    .heading1, .heading2 {
        margin-top: 120px;
    }
    iframe {
        height: 600px;
    }
}
@media screen and (max-width: 600px) {
    .navbar {
        background-color: rgba(232, 232, 232, 0.85);

    }
}
@media screen and (min-width: 500px) {
    .button_1, .button_2{
        width: 150px;
    }
}
/*mediaquerry*/

/*Footer*/

footer {
    background-color: #33343f;
    padding: 0;
}

.image_footer_1 {
    width: 50px;
}

.image_footer_2 {
    width: 25px;
}

.background_image_1 {
    width: 100%;
}

.py-3 {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1px;
    margin-bottom: 10px;
}

span {
    font-size: 12px;
}

ul li img {
    opacity: 70%;
}

ul li img:hover {
    opacity: 100%;
}
.tekstf {
    color: #919193;
}